/DCT.class
/Entropy.class
/Main.class
/PPMReaderWriter.class
/SZLReaderWriter.class
/convertColorSpace.class
/ImgPartition.class
/Quantification.class
/ZigZag.class
/DPCM.class
/RLC.class
/Decodeur.class
/Encodeur.class
/Validations.class
